---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for post in collections.posts %}
  <url>
    <loc>https://arnavnavon.com{{ post.url }}</loc>
    <lastmod>{{ post.date.toISOString() }}</lastmod>
  </url>
{%- endfor %}
  <url>
    <loc>https://arnavnavon.com/</loc>
  </url>
  <url>
    <loc>https://arnavnavon.com/about/</loc>
  </url>
  <url>
    <loc>https://arnavnavon.com/archive/</loc>
  </url>
  <url>
    <loc>https://arnavnavon.com/categories/</loc>
  </url>
</urlset>
